body{
  padding: 0;
  margin: 0;
}


.container{
  display: flex;
  flex-direction: row;
}


.card{
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 25%;
  background-color: aquamarine;
  box-shadow: 0 3px 5px black;
  border-radius: 20px;
}

.card2{
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 5%;
  background-color: aquamarine;
  box-shadow: 0 3px 5px black;
  border-radius: 20px;
}

.card3{
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 5%;
  background-color: aquamarine;
  box-shadow: 0 3px 5px black;
  border-radius: 20px;
}

p{
  margin-top: 30%;
}