@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'oeste1';
  src: url('../fonts/Rye/Rye-Regular.ttf');
}

@font-face {
  font-family: 'oeste2';
  src: url('../fonts/Rye/Smokum/Smokum-Regular.ttf');
}

@font-face {
  font-family: 'oeste3';
  src: url('../fonts/Rye/Stint_Ultra_Condensed/StintUltraCondensed-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(255, 0, 0, 0.247);
  
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.container-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2px;
  margin: 4% 0 0 8%;
}

.header {
  height: 132px;
  width: 100%;
  border-bottom: 2px solid #000000;
  background: rgba(255, 0, 0, 0.568);

}


.header .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100%;
  
}

.header a {
  text-decoration: none;
  font-family: 'oeste3', Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 900;
  color: rgb(39, 20, 15);
}

.agora {
  font-family: 'oeste3', Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 900;
  color: rgb(253, 70, 14);
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
}

.titulo {
  font-family: 'oeste2', Helvetica, sans-serif;
  font-size: 65px;
  font-weight: 800;
  color: rgb(14, 13, 13);
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 530px;
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 200;
  background-image: url('../assets/imgs/Captura\ de\ tela\ 2025-11-20\ 205125.png');
  background-size: cover;
}

.imagens{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.imagens .img_inicial{
  margin-right: 90px;
}

.img_inicial{
  width: 300px;
  height: 180px;
}

.banner .container span {
  font-weight: 800;
}

.container .boxes {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  padding: 30px 0;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2{
  color: rgb(0, 0, 0);
  font-size: 30px;
}

p{
  font-family:  Helvetica, Arial, sans-serif;
  text-align: justify;
  width: 700px;
  font-size: 22px;
}

.container-perso{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 10px;
  margin-left: 4%;
}

.personagens{
  height: 380px;
  width: 85%;
  background-color: rgba(255, 255, 255, 0.74);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
  border-radius: 20px;
  box-shadow: -3px 3px 10px black;
}

.personagens .personagem{
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.container-grupo{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 4%;
}

.grupo {
  height: 380px;
  width: 85%;
  background-color: rgba(255, 255, 255, 0.74);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
  border-radius: 20px;
  box-shadow: -3px 3px 10px black;
  margin-top: 8%;
}

.grupo .gangue{
   display: flex;
  align-items: center;
  justify-content: space-around;
}

.filmagem{
  margin-top: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.filmagem .videos{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* FOOTER */

.footer {
  background: rgba(255, 0, 0, 0.822);
  height: 100px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}