@font-face {
  font-family: 'oeste1';
  src: url('../fonts/Rye/Rye-Regular.ttf');
}

@font-face {
  font-family: 'oeste2';
  src: url('../fonts/Rye/Smokum/Smokum-Regular.ttf');
}

@font-face {
  font-family: 'oeste3';
  src: url('../fonts/Rye/Stint_Ultra_Condensed/StintUltraCondensed-Regular.ttf');
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url('../assets/imgs/oeste.avif');
    background-size: cover;
    
}

/*  cronometro */

.container_tempo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    background: rgba(255, 0, 0, 0.568);
}

.tempo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 22px;
    font-weight: 500;
    font-family: 'oeste1', Arial, Helvetica, sans-serif;
    padding-top: 60px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

button{
    width: 150px;
    height: 26px;
    padding: 4px;
    margin-left: 15px;
    border-radius: 25px;
    border: 1px solid black;
    background-color: rgba(88, 15, 15, 0.966);
    color: white;
}

.num{

}

span{

}

/* campo-alvo */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-top: 50px;
}

.container_alvo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
    width: 1200px;
    height: 400px;
    background-image: url('../assets/imgs/duelo.png');
    background-size: cover;
    opacity: 0.8;
}

.alvo-v{
    background-image: url('../assets/imgs/alvo-removebg-preview.png');
    background-size: cover;
    padding: 2px;
}

#teste{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-family: 'oeste1', Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    padding-top: 14px;
}

/* footer */
.footer {
  background: rgba(255, 0, 0, 0.822);
  height: 70px;
  width: 100%;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}
