@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'oeste1';
  src: url('../fonts/Rye/Rye-Regular.ttf');
}

@font-face {
  font-family: 'oeste2';
  src: url('../fonts/Rye/Smokum/Smokum-Regular.ttf');
}

@font-face {
  font-family: 'oeste3';
  src: url('../fonts/Rye/Stint_Ultra_Condensed/StintUltraCondensed-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(255, 255, 255);
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 100%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid #927676;
}

.header .container {
  justify-content: space-around;
  align-items: center;
  height: 100%;
  /*background: linear-gradient(to top, rgba(29, 28, 28, 0.822), red
  );*/
  background-color: #965825;
}

.header a {
  text-decoration: none;
  font-family: 'oeste3', Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 900;
  color: rgb(255, 64, 0);
}

.agora {
  font-family: 'oeste3', Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 900;
  color: rgb(255, 64, 0);
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #9e9484;
}

.titulo {
  font-family: 'oeste2', Helvetica, sans-serif;
  font-size: 65px;
  font-weight: 800;
  color: rgb(255, 64, 0);
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  height: var(--tamanho-banner);
  color: rgb(0, 0, 0);
  /*background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');*/
  background-size: cover;
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}

/* MISSÃO VISÃO VALORES */

.social {
  background-color: #e5e5e5;
  display: flex;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

.social p {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FOOTER */

.footer {
  background-color: #965825;;
  height: 100px;
  color: #000000;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

/* LOGIN */

.login {
  height: var(--tamanho-login);
  /* background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');*/
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  font-family: 'oeste1', Helvetica, sans-serif;
  text-align: center;
  width: 50%;
  background-color: #000000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 450px;
}

 .cartaz-login{
  margin-bottom: 10px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(68, 36, 1);
  flex-direction: column;
  height: 150px;
  padding: 110px 0;
}

.cartaz-login button{
   background-image: url('../assets/imgs/tabua5.jpg');
   background-size: cover;
   width: 100%;
   width: 100%;
   padding: 3px;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #ad5e1d;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  font-family: 'oeste1', Helvetica, sans-serif;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: rgb(0, 0, 0);
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: rgb(0, 0, 0);
}

.simulador .container {
  flex-direction: column;
  height: 100;
  height: var(--tamanho-simulador);
}

/* ALERTA */

